In [1]:
import pandas as pd
import numpy as np
import re


import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
df1=pd.read_csv('DATA_After_Cleaning_part_2.csv')

In [3]:
df1["description"]=df1["description"].str.lower()

In [4]:
stop_wo=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd",
 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself',
 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this',
 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having',
 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by',
 'for', 'with', 'about', 'against','between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from',
 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where',
 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',
 "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn',
 "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn',
 "wouldn't","book","story","one","two"]

I add to the "english" list the words "book","story","one","two"

because they are not relevant to a story summary

In [5]:
count_vec = CountVectorizer(stop_words=stop_wo,ngram_range=(1, 2), max_features= 20)
count_vec.fit(df1['description'])
text_vectorized = pd.DataFrame(count_vec.transform(df1['description']).toarray(),
                               columns=count_vec.get_feature_names())
text_vectorized

,dark,even,ever,family,find,first,life,love,magic,man,must,never,new,old,power,time,war,world,years,young
0,0,0,0,0,2,2,0,0,2,0,2,0,0,4,2,0,0,1,0,2
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,2,0,0
2,0,0,0,2,0,2,0,2,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,3,2,0,0,0,2
4,0,0,0,0,1,2,0,0,1,0,1,1,1,0,0,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3366,2,0,0,2,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,2
3367,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
3368,0,0,0,0,0,3,2,0,0,0,0,0,2,0,0,0,2,0,0,0
3369,2,1,0,0,2,0,0,0,0,0,2,0,3,0,2,0,0,0,0,0
3370,0,0,0,2,0,1,2,0,0,1,1,1,0,0,2,1,0,1,0,1

In [6]:
df = df1.merge(text_vectorized,left_index=True, right_index=True)
df

,book_name,book_series,book_series_number,authorName,description,pages,rating,rating_Count,reviews_Count,ISBN13,...,must,never,new,old,power,time,war,world,years,young
0,Sabriel,The Old Kingdom,1.0,Garth Nix,sent to a boarding school in ancelstierre as a...,491.0,4.16,199430.0,8662.0,9.780064e+12,...,2,0,0,4,2,0,0,1,0,2
1,Moon Called,Mercy Thompson,1.0,Patricia Briggs,"mercedes thompson, aka mercy, is a talented vo...",289.0,4.14,194100.0,9289.0,9.780441e+12,...,0,0,0,0,2,0,0,2,0,0
2,Royal Assassin,The Farseer Trilogy,2.0,Robin Hobb,fitz has survived his first hazardous mission ...,675.0,4.24,170847.0,6204.0,9.780525e+12,...,0,0,0,0,0,1,0,0,0,0
3,Fire,Graceling Realm,2.0,Kristin Cashore,it is not a peaceful time in the dells. the yo...,480.0,4.10,176334.0,11213.0,9.780804e+12,...,0,0,0,0,3,2,0,0,0,2
4,The Neverending Story,The Neverending Story,1.0,Michael Ende,this epic work of the imagination has captured...,396.0,4.17,184925.0,8024.0,9.780525e+12,...,1,1,1,0,0,0,0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3366,The Year of the Witching,Bethel,1.0,Alexis Henderson,"a young woman living in a rigid, puritanical s...",368.0,3.81,24152.0,4281.0,9.780593e+12,...,1,0,0,0,0,0,0,0,0,2
3367,The Tower of Nero,The Trials of Apollo,5.0,Rick Riordan,"at last, the breathtaking, action-packed final...",410.0,4.53,39609.0,4507.0,9.780525e+12,...,1,0,1,0,0,0,0,0,0,0
3368,To Sleep in a Sea of Stars,Fractalverse,1.0,Christopher Paolini,kira navárez dreamed of life on new worlds. no...,878.0,3.77,39277.0,6983.0,9.781251e+12,...,0,0,2,0,0,0,2,0,0,0
3369,The Once and Future Witches,The Once and Future Witches,1.0,Alix E. Harrow,"in 1893, there's no such thing as witches. the...",517.0,4.07,51701.0,8019.0,9.780316e+12,...,2,0,3,0,2,0,0,0,0,0
3370,"Girl, Serpent, Thorn","Girl, Serpent, Thorn",1.0,Melissa Bashardoust,a captivating and utterly original fairy tale ...,336.0,3.69,26266.0,5048.0,9.781250e+12,...,1,1,0,0,2,1,0,1,0,1

In [7]:
popular_words=df['dark']+df['even']+df['ever']+df['family']+df['find']+df['first']+df['life']+df['love']+df['magic']+df['man']+df['must']+df['never']+df['new']+df['old']+df['power']+df['time']+df['war']+df['world']+df['years']+df['young']
df3=df.copy()
df3['popular_words'] = popular_words
df3.columns

Index(['book_name', 'book_series', 'book_series_number', 'authorName',
       'description', 'pages', 'rating', 'rating_Count', 'reviews_Count',
       'ISBN13', 'published_year', 'published_month', 'Rating5', 'Rating4',
       'Rating3', 'Rating2', 'Rating1', 'Rating5_Percent', 'Rating4_Percent',
       'Rating3_Percent', 'Rating2_Percent', 'Rating1_Percent', 'people_liked',
       'dark', 'even', 'ever', 'family', 'find', 'first', 'life', 'love',
       'magic', 'man', 'must', 'never', 'new', 'old', 'power', 'time', 'war',
       'world', 'years', 'young', 'popular_words'],
      dtype='object')

I add sum of popular words in every book

In [8]:
df3.to_csv('After_text_analysis.csv',index=False)